* {
  box-sizing: border-box;
}
.questionNo {
  position: absolute;
  right: 0;
  top: -22px;
  border-radius: 0 10px 0 10px;
  padding: 10px;
  font-weight: 700;
  background-color: tomato;
  color: azure;
}
.container {
  position: relative;
  font-size: 1.5em;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80vw;
  max-width: 500px;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: azure;
  padding: 20px;
  z-index: 1000;
}
.modal .startover {
  background-color: dodgerblue;
  border: none;
  color: white;
}
.modal h3 {
  font-size: 2em;
  margin: 5px;
  border-radius: 5px;
}
.modal button {
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.modal h2 {
  color: red;
  font-size: 3em;
}
.modaloverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.options {
  margin: 20px 0;
}
.changeButton {
}
.SubmitButton :disabled {
  background-color: rgb(180, 108, 93);
}
.SubmitButton button {
  padding: 5px 10px;
  margin: 20px;
  font-size: 2em;
  float: right;
  background-color: tomato;
  color: azure;
  border: none;
  border-radius: 5px;
}
.changeButton button :hover {
  background-color: tomato;
}
.changeButton button {
  padding: 5px 10px;
  margin: 10px;
  font-size: 1em;
  background-color: dodgerblue;
  color: azure;
  border: none;
  border-radius: 5px;
}
.changeButton :disabled {
  background-color: rgb(154, 182, 211);
  color: azure;
}
.Timer {
  display: flex;
  justify-content: flex-end;
  /* float: right; */
  margin: 25px;

  font-size: 2.5em;
  font-weight: 500;
}
.Timer span {
  padding-left: 20px;
  color: tomato;
}
.Header {
  font-size: 2em;
  background-color: dodgerblue;
  width: 100vw;
  padding: 20px;
  color: azure;
}
.Header h1 {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
